@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GIY Carpentry</h1>


</div>
<div class="row">
    <div class="col-md-4">
        <img src="~/Image/Carpenter/First.jpg" style="margin:0 auto; width: 100%;" />
        <h2>Welcome to GIY Carpentry</h2>

        <p>
            GIY Carpentry provides all customers with the ability to select a carpenter
            for an upcoming job and then select a store were you can order the parts or
            fixings that you would like installed.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Image/Carpenter/select.jpg" style="margin:0 auto; width: 89%;" />
        <h2>Build it from scratch</h2>
        <p>
            The website will allow you to select a carpenter spectifically for the job that you
            need. Each carpenter that we have registered is affilated with a store or multiple stores
            so you can then pick the flooring, wood type or structure that you need built.
        </p>

    </div>
    <div class="col-md-4">
        <img src="~/Image/Carpenter/completed.jpg" style="margin:0 auto; width: 104%;" />

        <h2>Dates, times, prices and photos</h2>
        <p>
            When the carpenter is selected they will contact you directly to outline exact times for the build.They can
            provide references and photos from previous projects. They will also discuss pricing plans.
        </p>

    </div>
</div>